---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allBadges = await getCollection("challenge");

const allCategories = await getCollection("category");
---

<BaseLayout>
	<h1>Astro</h1>
	<div>
		{JSON.stringify(allBadges, undefined, 2)}
	</div>
	<div>
		{JSON.stringify(allCategories, undefined, 2)}
	</div>
</BaseLayout>
