---
import Header from "../components/Header.astro";
import Legend from "../components/Legend.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="text-center">
    <Header />

    <main class="container mx-auto">
      <Legend />

      <Section type="anime" />

      <Section type="manga" />
    </main>
  </div>
</BaseLayout>
