---
import BadgeCategory from "../components/CategoryComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allCategories = await getCollection("category");

const animeCategories = allCategories.filter(
  (category) => category.data.type === "anime"
);

const mangaCategories = allCategories.filter(
  (category) => category.data.type === "manga"
);
---

<BaseLayout>
  <div class="text-center">
    <h1 class="my-10 text-6xl font-bold uppercase">Anime</h1>
    {animeCategories.map((category) => <BadgeCategory category={category} />)}

    <h1 class="my-10 text-6xl font-bold uppercase">Manga</h1>
    {mangaCategories.map((category) => <BadgeCategory category={category} />)}
  </div>
</BaseLayout>
