---
import type { Badge } from "../models";

type Props = {
  badge: { name?: string } & Badge;
  name: string;
  size: "large" | "small";
};

const { name, badge, size } = Astro.props;
---

<div
  class="group relative mx-1 mb-2 inline-block align-bottom transition hover:scale-105 lg:mb-4"
>
  <img
    alt={name}
    class:list={[
      "transition group-hover:saturate-100 group-hover:opacity-100",
      {
        "h-28 lg:h-40": size === "small",
        "h-36 lg:h-48": size === "large",
        "saturate-0 opacity-50": badge.status !== "completed",
      },
    ]}
    loading="lazy"
    src={badge.image ?? "https://awc.moe/static/images/badge-placeholder.png"}
  />

  {
    badge.status === "in-progress" && (
      <>
        <div class="bg-in-progress absolute -bottom-3 left-1/2 -ml-14 hidden w-28 rounded py-2 text-center text-xs font-bold uppercase text-ctp-base lg:block">
          in progress
        </div>
        <div class="bg-in-progress absolute -right-2 -top-2 h-4 w-4 rounded-full lg:hidden" />
        <div class="bg-in-progress absolute -right-2 -top-2 h-4 w-4 animate-ping rounded-full lg:hidden" />
      </>
    )
  }

  {
    badge.status === "submitted" && (
      <>
        <div class="bg-submitted absolute -bottom-3 left-1/2 -ml-14 hidden w-28 rounded py-2 text-center text-xs font-bold uppercase text-ctp-base lg:block">
          submitted
        </div>
        <div class="bg-submitted absolute -right-2 -top-2 h-4 w-4 rounded-full lg:hidden" />
        <div class="bg-submitted absolute -right-2 -top-2 h-4 w-4 animate-ping rounded-full lg:hidden" />
      </>
    )
  }

  {
    badge.status === "on-hold" && (
      <>
        <div class="bg-on-hold absolute -bottom-3 left-1/2 -ml-14 hidden w-28 rounded py-2 text-center text-xs font-bold uppercase text-ctp-base lg:block">
          on hold
        </div>
        <div class="bg-on-hold absolute -right-2 -top-2 h-4 w-4 rounded-full lg:hidden" />
      </>
    )
  }
</div>
