---
import type { Badge } from "../models";

type Props = {
  badge: Badge & { name?: string };
  name: string;
  size: "small" | "large";
};

const { badge, name, size } = Astro.props;
---

<div
  class="group relative mx-1 mb-7 inline-block align-bottom transition hover:scale-105"
>
  <img
    src={badge.image ?? "https://awc.moe/static/images/badge-placeholder.png"}
    alt={name}
    loading="lazy"
    class:list={[
      "transition group-hover:saturate-100 group-hover:opacity-100",
      {
        "saturate-0 opacity-50": badge.status !== "completed",
        "h-48": size === "large",
        "h-40": size === "small",
      },
    ]}
  />

  {
    badge.status === "in-progress" && (
      <div class="absolute -bottom-3 left-1/2 -ml-14 w-28 rounded bg-gradient-to-br from-ctp-lavender to-ctp-mauve py-2 text-center text-xs font-bold uppercase text-ctp-base">
        in progress
      </div>
    )
  }

  {
    badge.status === "submitted" && (
      <div class="absolute -bottom-3 left-1/2 -ml-14 w-28 rounded bg-gradient-to-br from-ctp-green to-ctp-sapphire py-2 text-center text-xs font-bold uppercase text-ctp-base">
        submitted
      </div>
    )
  }
</div>
