---
import type { CategoryEntry } from "../models";

import ChallengeComponent from "./ChallengeComponent.astro";

type Props = {
  category: CategoryEntry;
};

const category = Astro.props.category;
---

<div>
  <h2 class="text-gradient mx-auto my-5 w-max text-3xl lowercase">
    {category.data.name}
  </h2>
  <div class="overflow-x-scroll whitespace-nowrap lg:whitespace-normal">
    {
      category.data.challenges.map((challenge) => (
        <ChallengeComponent challenge={challenge} />
      ))
    }
  </div>
</div>
