---
import type { ChallengeEntry } from "../models";
import { getEntry } from "astro:content";
import clsx from "clsx";

interface Props {
  challenge: Omit<ChallengeEntry, "data">;
}

const challenge = (await getEntry(Astro.props.challenge))!;

const badge = challenge.data.focusBadge;
---

<a href={`/${challenge.id}`}>
  <div
    class="group inline-block relative mx-1 mb-7 align-bottom transition hover:-translate-y-2"
  >
    <img
      src={badge.image ?? "https://awc.moe/static/images/badge-placeholder.png"}
      alt={badge.name ?? challenge.data.name}
      loading="lazy"
      class={clsx(
        "transition group-hover:saturate-100 group-hover:opacity-100 h-48",
        {
          "saturate-0 opacity-50": badge.status !== "completed",
        }
      )}
    />

    {
      badge.status === "in-progress" && (
        <div class="uppercase absolute -bottom-3 left-1/2 -ml-14 w-28 font-bold rounded text-xs py-2 bg-ctp-lavender text-ctp-base text-center">
          in progress
        </div>
      )
    }

    {
      badge.status === "submitted" && (
        <div class="uppercase absolute -bottom-3 left-1/2 -ml-14 w-28 font-bold rounded text-xs py-2 bg-ctp-mauve text-ctp-base text-center">
          submitted
        </div>
      )
    }
  </div>
</a>
