---
import { getCollection } from "astro:content";

import CategoryComponent from "./CategoryComponent.astro";

type Props = {
  type: "anime" | "manga";
};

const { type } = Astro.props;

const allCategories = await getCollection("category");

const categories = allCategories
  .filter((category) => category.data.type === type)
  .toSorted((a, b) => a.data.sortKey - b.data.sortKey);
---

<h1 class="text-ctp-pink mx-auto my-10 w-max text-6xl font-bold uppercase">
  {type}
</h1>
{categories.map((category) => <CategoryComponent category={category} />)}
