---
type Props = {
  status: "in-progress" | "submitted" | "completed";
}

const { status } = Astro.props;
---

<div
  class="mx-auto w-28 rounded bg-ctp-green py-2 text-sm font-bold uppercase text-ctp-base"
>
  {status}
</div>
