@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-ctp-base text-ctp-text text-center scrollbar-thin scrollbar-track-ctp-crust scrollbar-thumb-ctp-blue ctp-latte dark:ctp-mocha;
    }

    h1 {
        @apply text-6xl my-10 uppercase font-bold text-gradient w-max mx-auto;
    }

    h2 {
        @apply text-3xl my-5 lowercase text-gradient w-max mx-auto;
    }
}

@layer utilities {
    .text-gradient {
      @apply bg-clip-text text-transparent bg-gradient-to-r from-ctp-green to-ctp-blue;
    }
}
