---
import "@fontsource-variable/gabarito";

import "../style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>Badges | Lichthagel</title>
  </head>
  <body class="mocha bg-ctp-base text-ctp-text">
    <slot />
  </body>
</html>
