---
import "@fontsource-variable/readex-pro/full.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="ctp-latte dark:ctp-mocha bg-ctp-base text-ctp-text">
    <div class="container mx-auto">
      <slot />
    </div>
  </body>
</html>
